/* Style page for about us */


/* Section container */
.section-box {
    height: 530px;
    width: 90%;
    margin: auto;
    text-align: left;
    z-index: 1;
    margin-top: 60px;
    border-top: 3px solid #50aefa;
}

.section-box img {
    width: 100%;
}

.section-box h1 {
    font-size: 64px;
    color: rgba(255, 255, 255, 0.896);
    margin-top: -28px;
}

.section-box p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.696);
    line-height: 32px;
    margin-left: -8px;
    margin-top: -10px;
    padding-bottom: 20px;
}

.content{
    width: 54%;
    min-height: 300px;
    word-wrap: break-word;
    position: relative;
    margin-top: 50px;
}

/* wiki image column */
.image-box {
    width: 42%;
    margin-top: 50px;
    max-height: 200px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#big-gap {
    margin-top: 100px;
}
