/* Style page for about us */


/* Section container */
.section-box {
    height: 530px;
    width: 90%;
    margin: auto;
    text-align: left;
    z-index: 1;
    margin-top: 60px;
    border-top: 3px solid #50aefa;

}

.section-box img {
    width: 100%;
}

.section-box h1 {
    font-size: 64px;
    color: rgba(255, 255, 255, 0.896);
    margin-top: -28px;

    margin-left: 0px;
}

.section-box h2 {
    font-size: 26px;
    color: #50aefa;
    margin-top: -8px;
    margin-bottom: 4px;
}

.section-box h3 {
    text-align: left;
    font-size: 18px;
    color: #50aefa;
    margin-top: 2px;
    margin-bottom: 6px;
}

.section-box p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.82);
    line-height: 32px;
    margin-left: -8px;
    margin-top: -10px;
    padding-bottom: 20px;
}

.content {
    width: 54%;
    min-height: 300px;
    word-wrap: break-word;
    position: relative;
    margin-top: 50px;
}

.content li {
    color: rgba(255, 255, 255, 0.82);
    line-height: 32px;
    font-size: 20px;
    word-wrap: break-word;
    position: relative;
}

/* wiki image column */
.image-box {
    width: 42%;
    margin-top: 50px;
    max-height: 200px;
    z-index: 1;
}

#left {
    float: left;
}

#right {
    float: right;
}

#big-gap {
    margin-top: 100px;
}

/* For all the external links to competition websites */
a.external-link:link {
    color: rgba(168, 194, 255, 0.85);
    font-weight: bold;
    text-decoration: none;
}

a.external-link:visited {
    color: rgba(168, 194, 255, 0.85);
    font-weight: bold;
}

a.external-link:hover {
    color: rgba(255, 8, 222, 0.82);
    transition: 0.6s;
}

