/* Style page for about us */
.bb {
    /*blue, bolded text */
    color: #50aefa;
    font-weight: bold;
}

#big-gap {
    margin-top: 4vw;
}

/* For all the external links to competition websites */
a.external-link:link {
    color: rgba(168, 194, 255, 0.85);
    font-weight: bold;
    text-decoration: none;
}

a.external-link:visited {
    color: rgba(168, 194, 255, 0.85);
    font-weight: bold;
}

a.external-link:hover {
    color: rgba(255, 8, 222, 0.82);
    transition: 0.6s;
}

