/* All the styling for photo grids. They tend to be long. */

/* Competitions 01 */
.imgrid-01 {
    width: 100%;
    float: left;
    /* make a tag for right float too */
    display: grid;
    grid-template-rows: 150px 120px 120px 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: solid 5px black;
}

.imgrid-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgrid-01 .item-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 6;
}

.imgrid-01 .item-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.imgrid-01 .item-3 {
    grid-row: 3 / 5;
    grid-column: 3 / 6;
}

.imgrid-01 .item-4 {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

.imgrid-01 .item-5 {
    grid-row: 4 / 5;
    grid-column: 4 / 6;
}

/* Competition 02 */
.imgrid-02 {
    width: 100%;
    float: left;
    /* make a tag for right float too */
    display: grid;
    grid-template-rows: 300px 120px 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: solid 5px black;
}

.imgrid-02 .item-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.imgrid-02 .item-2 {
    grid-row: 1 / 2;
    grid-column: 4 / 7;
}

.imgrid-02 .item-3 {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.imgrid-02 .item-4 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}

.imgrid-02 .item-5 {
    grid-row: 3 / 4;
    grid-column: 3 / 5;
}

.imgrid-02 .item-6 {
    grid-row: 2 / 4;
    grid-column: 5 / 7;
}

/* Competition 03 */
.imgrid-03 {
    width: 100%;
    float: left;
    /* make a tag for right float too */
    display: grid;
    grid-template-rows: 200px 220px 160px;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 5px black;
}

.imgrid-03 .item-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.imgrid-03 .item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.imgrid-03 .item-3 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.imgrid-03 .item-4 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.imgrid-03 .item-5 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.imgrid-03 .item-6 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}


/* Tripoli */
.imgrid-04 {
    width: 100%;
    float: left;
    
    /* make a tag for right float too */
    display: grid;
    grid-template-rows: 260px 250px;
    grid-row-gap: 10px;
}

.imgrid-04 img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.imgrid-04 .item-1 {
    grid-row: 1 / 2;
}

.imgrid-04 .item-2 {
    grid-row: 2 / 3;
}


/* FAR 51025 */
.imgrid-05 {
    width: 100%;
    float: left;
    
    /* make a tag for right float too */
    display: grid;
    grid-template-rows: 140px 420px;
    grid-row-gap: 10px;
}

.imgrid-05 img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.imgrid-05 .item-1 {
    grid-row: 1 / 2;
}

.imgrid-05 .item-2 {
    grid-row: 2 / 3;
}

.imgrid-05 .item-2 video {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
