/* Styles for the team member gallery */

/* Project Grid */
.member-gallery {
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3vw;
}

.single-team {
    margin-top: 2vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.single-team:hover {
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 10px 0px rgba(0, 102, 255, 0.9);
    transition: 0.7s;
}

/* The top image box */
.team-img {
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.team-img img {
    width: 20vw;
    height: 25vw;
    object-fit: cover;
    transform: translateY(-0.6vw);
    transition: 0.3s;
}

.single-team:hover .team-img img {
    transform: scale(1, 1);
}

/* All the team member content box */
.team-content {
    height: 7vw;
    width: 20vw;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    transition: all 0.4s;
    background: var(--jay-blue);
    z-index: 5;
}

/* The teammate name and position */
.team-info {
    text-align: center;
    padding: 5px 8px 5px 10px;
    transition: all .5s;
    color: white;
}

.team-info h3 {
    text-transform: uppercase;
    font-size: 1.8vw;
    font-weight: 800px;
    padding: 2%;
}

.team-info h4 {
    font-size: 1vw;
    padding: 1%;
}

.team-info li {
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 1vw;
    text-align: left;
}

/* Interactive hovering and style changes */
.single-team:hover .team-content {
    background: #222;
    height: 31.2vw;
    transition: 0.6s;
}

.single-team:hover .team-content .team-info h3 {
    color: var(--sky-blue);
}

@media screen and (max-width: 1024px) {
    .member-gallery {
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
    }

    .team-img img {
        width: 100%;
        height: 100%;
        aspect-ratio: 6/8;
        object-fit: cover;
        transition: 0.3s;
    }

    .team-content {
        height: 24%;
        width: 100%;
        aspect-ratio: 2/8;
        position: absolute;
        overflow: hidden;
    }

    .team-info h3 {
        text-transform: uppercase;
        font-size: 4vw;
        font-weight: 800px;
        padding: 2%;
    }

    .team-info h4 {
        font-size: 2vw;
        padding: 1%;
    }

    .team-info li {
        font-size: 0.8rem;
        line-height: 1rem;
        padding-top: 2vw;
        text-align: left;
    }

    /* Interactive hovering and style changes */
    .single-team:hover .team-content {
        background: #222;
        height: 58vw;
        transition: 0.8s;
    }

    .single-team:hover .team-content .team-info h3 {
        color: var(--sky-blue);
    }



}