
/* Wide image box for the whole rocket */
.collage-box {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
}

.collage-box img {
    width: 100%;
}

#big-box {
    width: 100%;
}

#im-ms {
    margin-top: 0vw;
    width: 100%;
    object-fit: contain;
    display: block;
}

.collage-box iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}


.big-im-box {
    width:90%;
}

.big-im-box img {
    width: 100%;
}
