
/* Wide image box for the whole rocket */

.collage-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
}

#big-box {
    width: 100%;
}

.collage-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.collage-box iframe {
    width: 100%;
    height: 100%;
}

